html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  font-family: 'Josefin Sans', sans-serif;
  word-break: keep-all; }

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px; }

.app {
  overflow: hidden; }

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  display: none; }
  .header .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .container .logo {
      font-size: 20px;
      color: #2b2b2b; }
    .header .container nav ul.gnb {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .container nav ul.gnb li.nav-item {
        padding: 8px 15px; }
        .header .container nav ul.gnb li.nav-item a.nav-link {
          font-size: 13px;
          color: #4b4b4b; }
          .header .container nav ul.gnb li.nav-item a.nav-link.list-color {
            color: orange; }

#wrap {
  height: 5000px; }
  #wrap .visual {
    background: #fff url(../images/main.jpg) 50% 50%/cover no-repeat;
    height: 100vh;
    position: relative; }
    #wrap .visual .txt {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: 0.4s; }
      .show-about-me #wrap .visual .txt {
        opacity: 0; }
      #wrap .visual .txt .txt-wrap h4 {
        font-size: 20px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        text-transform: uppercase; }
      #wrap .visual .txt .txt-wrap h1 {
        font-size: 112px;
        color: #fff;
        font-weight: 300; }
    #wrap .visual .set-color {
      width: 166px;
      height: 140px;
      background-color: #fff;
      position: fixed;
      top: 30%;
      right: -166px;
      z-index: 2000;
      transition: 0.2s; }
      .open-set-color #wrap .visual .set-color {
        right: 0; }
      #wrap .visual .set-color .title {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #wrap .visual .set-color .title h5 {
          color: #2b2b2b;
          font-size: 14px; }
      #wrap .visual .set-color .color-switch .top {
        display: flex;
        justify-content: center; }
        #wrap .visual .set-color .color-switch .top .color {
          width: 20px;
          height: 20px;
          margin: 6px; }
          #wrap .visual .set-color .color-switch .top .color.green {
            background-color: greenyellow; }
          #wrap .visual .set-color .color-switch .top .color.pink {
            background-color: hotpink; }
          #wrap .visual .set-color .color-switch .top .color.yellow {
            background-color: yellow; }
          #wrap .visual .set-color .color-switch .top .color.purple {
            background-color: mediumpurple; }
      #wrap .visual .set-color .color-switch .bottom {
        display: flex;
        justify-content: center; }
        #wrap .visual .set-color .color-switch .bottom .color {
          width: 20px;
          height: 20px;
          margin: 6px; }
          #wrap .visual .set-color .color-switch .bottom .color.skyblue {
            background-color: skyblue; }
          #wrap .visual .set-color .color-switch .bottom .color.orange {
            background-color: orange; }
          #wrap .visual .set-color .color-switch .bottom .color.blue {
            background-color: blue; }
      #wrap .visual .set-color .btn-settings {
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /*
        &:hover {
          transform: rotate(360deg);
        }
         */ }
        #wrap .visual .set-color .btn-settings span {
          color: #2b2b2b;
          font-size: 20px; }
  #wrap .section-about-me {
    position: relative;
    margin-top: -200px;
    opacity: 0;
    transition: 0.4s;
    transform: translateY(60px); }
    .show-about-me #wrap .section-about-me {
      opacity: 1;
      transform: none; }
    #wrap .section-about-me .container .about-me {
      max-width: 950px;
      height: 400px;
      margin: 0 auto;
      background-color: #fff;
      box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px; }
      #wrap .section-about-me .container .about-me .txt {
        flex: 6; }
        #wrap .section-about-me .container .about-me .txt h4 {
          font-size: 32px;
          color: #2b2b2b;
          margin-bottom: 30px; }
        #wrap .section-about-me .container .about-me .txt p {
          color: #656565;
          font-size: 20px;
          font-weight: 300; }
      #wrap .section-about-me .container .about-me .photo {
        flex: 4;
        margin-left: 30px; }
        #wrap .section-about-me .container .about-me .photo img {
          border-radius: 50%;
          width: 300px;
          height: 300px; }
  #wrap .section-my-service {
    margin-top: 100px; }
    #wrap .section-my-service .container .txt-area {
      display: flex;
      justify-content: center;
      align-items: center; }
      #wrap .section-my-service .container .txt-area .txt p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #887788;
        margin-bottom: 10px; }
      #wrap .section-my-service .container .txt-area .txt h3 {
        font-size: 30px;
        font-weight: 700; }
    #wrap .section-my-service .container .cards-area .top-cards-area {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px; }
      #wrap .section-my-service .container .cards-area .top-cards-area .card {
        margin: 0 20px; }
        #wrap .section-my-service .container .cards-area .top-cards-area .card .card-img {
          background: url(https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 50% 50%/cover no-repeat;
          width: 290px;
          height: 240px; }
          #wrap .section-my-service .container .cards-area .top-cards-area .card .card-img .txt-area {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #wrap .section-my-service .container .cards-area .top-cards-area .card .card-img .txt-area .text-bg {
              width: 165px;
              height: 40px;
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px; }
              #wrap .section-my-service .container .cards-area .top-cards-area .card .card-img .txt-area .text-bg h5 {
                font-size: 14px;
                color: #333; }
    #wrap .section-my-service .container .cards-area .bottom-cards-area {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0 100px 0; }
      #wrap .section-my-service .container .cards-area .bottom-cards-area .card {
        margin: 0 20px; }
        #wrap .section-my-service .container .cards-area .bottom-cards-area .card .card-img {
          background: url(https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 50% 50%/cover no-repeat;
          width: 290px;
          height: 240px; }
          #wrap .section-my-service .container .cards-area .bottom-cards-area .card .card-img .txt-area {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #wrap .section-my-service .container .cards-area .bottom-cards-area .card .card-img .txt-area .text-bg {
              width: 165px;
              height: 40px;
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px; }
              #wrap .section-my-service .container .cards-area .bottom-cards-area .card .card-img .txt-area .text-bg h5 {
                font-size: 14px;
                color: #333; }
  #wrap .section-my-expertises {
    background-color: #f7f7f7;
    padding-top: 100px; }
    #wrap .section-my-expertises .container .txt-area {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px; }
      #wrap .section-my-expertises .container .txt-area .txt p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #887788;
        margin-bottom: 10px; }
      #wrap .section-my-expertises .container .txt-area .txt h3 {
        font-size: 30px;
        font-weight: 700; }
    #wrap .section-my-expertises .container h5 {
      font-size: 20px;
      color: #333;
      margin-bottom: 24px; }
    #wrap .section-my-expertises .container .wrap-card .top-card {
      display: flex;
      justify-content: center;
      align-items: center; }
      #wrap .section-my-expertises .container .wrap-card .top-card .first-card {
        margin-right: 15px; }
        #wrap .section-my-expertises .container .wrap-card .top-card .first-card .card {
          width: 540px;
          background-color: #fff;
          cursor: pointer; }
          #wrap .section-my-expertises .container .wrap-card .top-card .first-card .card .wrap-contents {
            padding: 20px; }
            #wrap .section-my-expertises .container .wrap-card .top-card .first-card .card .wrap-contents .contents h5 {
              font-size: 18px;
              margin-bottom: 16px; }
            #wrap .section-my-expertises .container .wrap-card .top-card .first-card .card .wrap-contents .contents .txt-bg {
              background-color: #fd735a;
              border-radius: 4px;
              width: 150px;
              height: 18px;
              margin-bottom: 16px;
              display: flex;
              justify-content: center;
              align-items: center; }
              #wrap .section-my-expertises .container .wrap-card .top-card .first-card .card .wrap-contents .contents .txt-bg h6 {
                color: #fff;
                font-size: 14px;
                font-weight: 300; }
            #wrap .section-my-expertises .container .wrap-card .top-card .first-card .card .wrap-contents .contents p {
              font-weight: 300;
              font-size: 18px;
              color: #6e7373;
              margin-bottom: 20px; }
      #wrap .section-my-expertises .container .wrap-card .top-card .second-card {
        margin-left: 15px; }
        #wrap .section-my-expertises .container .wrap-card .top-card .second-card .card {
          width: 540px;
          background-color: #fff; }
          #wrap .section-my-expertises .container .wrap-card .top-card .second-card .card .wrap-contents {
            padding: 20px; }
            #wrap .section-my-expertises .container .wrap-card .top-card .second-card .card .wrap-contents .contents h5 {
              font-size: 18px;
              margin-bottom: 16px; }
            #wrap .section-my-expertises .container .wrap-card .top-card .second-card .card .wrap-contents .contents .txt-bg {
              background-color: #fd735a;
              border-radius: 4px;
              width: 150px;
              height: 18px;
              margin-bottom: 16px;
              display: flex;
              justify-content: center;
              align-items: center; }
              #wrap .section-my-expertises .container .wrap-card .top-card .second-card .card .wrap-contents .contents .txt-bg h6 {
                color: #fff;
                font-size: 14px;
                font-weight: 300; }
            #wrap .section-my-expertises .container .wrap-card .top-card .second-card .card .wrap-contents .contents p {
              font-weight: 300;
              font-size: 18px;
              color: #6e7373;
              margin-bottom: 20px; }
    #wrap .section-my-expertises .container .wrap-card .middle-card {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #wrap .section-my-expertises .container .wrap-card .middle-card .first-card {
        margin-right: 15px; }
        #wrap .section-my-expertises .container .wrap-card .middle-card .first-card .card {
          width: 540px;
          background-color: #fff; }
          #wrap .section-my-expertises .container .wrap-card .middle-card .first-card .card .wrap-contents {
            padding: 20px; }
            #wrap .section-my-expertises .container .wrap-card .middle-card .first-card .card .wrap-contents .contents h5 {
              font-size: 18px;
              margin-bottom: 16px; }
            #wrap .section-my-expertises .container .wrap-card .middle-card .first-card .card .wrap-contents .contents .txt-bg {
              background-color: #fd735a;
              border-radius: 4px;
              width: 150px;
              height: 18px;
              margin-bottom: 16px;
              display: flex;
              justify-content: center;
              align-items: center; }
              #wrap .section-my-expertises .container .wrap-card .middle-card .first-card .card .wrap-contents .contents .txt-bg h6 {
                color: #fff;
                font-size: 14px;
                font-weight: 300; }
            #wrap .section-my-expertises .container .wrap-card .middle-card .first-card .card .wrap-contents .contents p {
              font-weight: 300;
              font-size: 18px;
              color: #6e7373;
              margin-bottom: 20px; }
      #wrap .section-my-expertises .container .wrap-card .middle-card .second-card {
        margin-left: 15px; }
        #wrap .section-my-expertises .container .wrap-card .middle-card .second-card .card {
          width: 540px;
          background-color: #fff; }
          #wrap .section-my-expertises .container .wrap-card .middle-card .second-card .card .wrap-contents {
            padding: 20px; }
            #wrap .section-my-expertises .container .wrap-card .middle-card .second-card .card .wrap-contents .contents h5 {
              font-size: 18px;
              margin-bottom: 16px; }
            #wrap .section-my-expertises .container .wrap-card .middle-card .second-card .card .wrap-contents .contents .txt-bg {
              background-color: #fd735a;
              border-radius: 4px;
              width: 150px;
              height: 18px;
              margin-bottom: 16px;
              display: flex;
              justify-content: center;
              align-items: center; }
              #wrap .section-my-expertises .container .wrap-card .middle-card .second-card .card .wrap-contents .contents .txt-bg h6 {
                color: #fff;
                font-size: 14px;
                font-weight: 300; }
            #wrap .section-my-expertises .container .wrap-card .middle-card .second-card .card .wrap-contents .contents p {
              font-weight: 300;
              font-size: 18px;
              color: #6e7373;
              margin-bottom: 20px; }
    #wrap .section-my-expertises .container .wrap-card .bottom-card {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #wrap .section-my-expertises .container .wrap-card .bottom-card .first-card {
        margin-right: 15px; }
        #wrap .section-my-expertises .container .wrap-card .bottom-card .first-card .card {
          width: 540px;
          background-color: #fff; }
          #wrap .section-my-expertises .container .wrap-card .bottom-card .first-card .card .wrap-contents {
            padding: 20px; }
            #wrap .section-my-expertises .container .wrap-card .bottom-card .first-card .card .wrap-contents .contents h5 {
              font-size: 18px;
              margin-bottom: 16px; }
            #wrap .section-my-expertises .container .wrap-card .bottom-card .first-card .card .wrap-contents .contents .txt-bg {
              background-color: #fd735a;
              border-radius: 4px;
              width: 150px;
              height: 18px;
              margin-bottom: 16px;
              display: flex;
              justify-content: center;
              align-items: center; }
              #wrap .section-my-expertises .container .wrap-card .bottom-card .first-card .card .wrap-contents .contents .txt-bg h6 {
                color: #fff;
                font-size: 14px;
                font-weight: 300; }
            #wrap .section-my-expertises .container .wrap-card .bottom-card .first-card .card .wrap-contents .contents p {
              font-weight: 300;
              font-size: 18px;
              color: #6e7373;
              margin-bottom: 20px; }
      #wrap .section-my-expertises .container .wrap-card .bottom-card .second-card {
        margin-left: 15px; }
        #wrap .section-my-expertises .container .wrap-card .bottom-card .second-card .card {
          width: 540px;
          background-color: #fff; }
          #wrap .section-my-expertises .container .wrap-card .bottom-card .second-card .card .wrap-contents {
            padding: 20px; }
            #wrap .section-my-expertises .container .wrap-card .bottom-card .second-card .card .wrap-contents .contents h5 {
              font-size: 18px;
              margin-bottom: 16px; }
            #wrap .section-my-expertises .container .wrap-card .bottom-card .second-card .card .wrap-contents .contents .txt-bg {
              background-color: #fd735a;
              border-radius: 4px;
              width: 150px;
              height: 18px;
              margin-bottom: 16px;
              display: flex;
              justify-content: center;
              align-items: center; }
              #wrap .section-my-expertises .container .wrap-card .bottom-card .second-card .card .wrap-contents .contents .txt-bg h6 {
                color: #fff;
                font-size: 14px;
                font-weight: 300; }
            #wrap .section-my-expertises .container .wrap-card .bottom-card .second-card .card .wrap-contents .contents p {
              font-weight: 300;
              font-size: 18px;
              color: #6e7373;
              margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
